.search-form {
	padding: 7px 20px;
}
nav.scrolled .search-form {
	padding: 0px;
}

.search-form .form-group {
	margin: 0px;
}

.search-form .form-group input {
	border: none;
}

.search-form .form-group input[type=submit] {
	cursor: pointer;
}